.login-page {
    background: url('../../../public/login-bg.jpeg');
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
  }
  
  

.login-form {
    height: 40%;
    width: 50%;
    border: 1px solid #ddd; /* Add a subtle border */
    padding: 40px;
    background-color: #f9f9f9; /* Light background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    text-align: center; 
  
    margin: 0 auto;
  }
  
  .login-form label {
    margin-right: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .login-form input {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Add a border to input fields */
    border-radius: 5px; /* Rounded corners */
    transition: border-color 0.3s ease; /* Smooth border transition */
  
    &:hover,
    &:focus {
      border-color: #0078d4; 
    }
  }
  
  .login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4b42ad; /* Background color for the switch button */
    color: #b1bcc4; /* Text color for the switch button */
    border: 1px solid #0078d4; /* Border for the switch button */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  
    &:hover {
      background-color: #0078d4; /* Darker background color on hover */
      color: #160c0c; /* Text color on hover */
    }
  }
  
  .status{
    height: 30px;
    width: 50%;
    margin-top: 3%;
    background-color: #160c0c;
    color: #fdfeff;
    height: 30px;
    border: none;
    border-radius: 5px;
  }