.navbar{
    background-color: rgb(16, 1, 31);
    height: 8rem;
}
.navbar li{
    list-style: none;
    padding: 5%;
    color: rgb(244, 217, 217);
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
    margin-top: 0;
}
a{
    color: rgb(165, 154, 154);
    text-decoration: none;
}

.logout{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: #a0a3a5; 
    outline: none; 
}