
.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
  
  ul li {
    margin: 7px;
    padding: 10px;
    font-weight: bold;
  }
  
  ul li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: #007bff; /* Change link color on hover (blue in this example) */
  }
  
  .logout {
    background-color: #d9534f; /* Red color for the logout button */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .light-theme {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark Theme */
  .dark-theme {
    background-color: #333333;
    color: #ffffff;
  }
  /* Header.css */
/* ... (other styles) */

.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
  position: relative;
  width: 40px;
  height: 24px;
}

.toggle-button:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ccc; /* Default background color for the toggle */
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out;
}

.toggle-theme-button {
  background-color: #007bff; /* Your desired background color */
  color: #fff; /* Text color */
  border: none;
  border-radius: 15px;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s; 
}

.toggle-theme-button:hover {
  background-color: #0056b3; /* Background color on hover */
}



